<%- include("./partials/head")%>
<body>
    <%- include("./partials/navigation") %>
    
    <header>
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png" alt="">
    </header>
    <h1>Welcome</h1>

    <%- include("./partials/footer") %>
</body>
</html>